<h1>New restaurant</h1>
<div>
  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, as: :select, collection: Restaurant::NAME %>
  <%= f.button :submit %>
<% end %>

</div>


<%= link_to "back", restaurants_path(@restaurants)%>
